@model STV.Models.Story
<a href="@Url.Action("Truyen", "Story", new { StoryID = Model.StoryID})">

    <div class="row nowr">
        <div class="bkl">
            <img src="~/Image/@Model.image" class="im">
        </div>
        <div class="bkr">
            <b> @Model.Title</b><br>
            Tác giả @Model.Author.Pen_Name<br>
            Số chương: @Model.N_O_Chapter<br>
            Cập nhật: @Model.LastUpdate<br>
            <button class="btnbl" onclick="xoafl()" > Bỏ theo dõi </button>
        </div>
    </div>
</a>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function xoafl() {
         $.ajax({
     type: "POST", // Hoặc "GET" tùy theo action của bạn
     url: "@Url.Action("Follow", "Story", new { storyId = Model.StoryID })",
             success: function (data) {
                 // Xử lý kết quả trả về (nếu cần)
                 var url = window.location.href;
                 window.location.href = url;
     }
     
 });
    }

</script>

