 //Giao diện
@using STV.Models
@using PagedList.Mvc
@model PagedList.PagedList<STV.Models.Story>
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/LoginLogout.cshtml";
}
    <div class="container shadow p-2 bg-light">
        <div class="breadcum p-1">
            <a href="@Url.Action("list","Author",new { MemberID = Session["MemberID"] })">Danh sách truyện</a>
        </div>
        <div class="menu bg-light p-1">
            <button class="btn btn-primary" style="float: right;" onclick="location.href='/Author/addBook/'">Thêm Truyện</button>
            <div style="clear: both;"></div>
        </div>
        <div class="main">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Thể Loại</th>
                        <th scope="col">Số chương</th>
                        <th hidden="" scope="col">Vip</th>
                        <th hidden="" scope="col">Đã bán</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sach in Model)
                    {

                        <tr>
                            <td>@sach.Title</td>
                            <td>@sach.category.CatName</td>
                            <td>@sach.N_O_Chapter</td>
                            <td hidden="">@sach.Vip</td>
                            <td hidden="">@sach.View</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Truyen", "Story", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-eye"></i></button>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("listChap", "Author", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-list"></i></button>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EditBook", "Author", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-edit"></i></button>
                                <button type="button" class="btn btn-info" onclick="showMenu(16953)"><i class="fa-solid fa-bars"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <div style="width:100%;text-align:center;">
                <nav style="display:inline-block;">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("list", "Author", new
{
    MemberID =
ViewBag.AuthorID,
    page = page
}))
                    </ul>
                </nav>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/Author/uploader.js"></script>
<scripts type="text/javascript" src="/Author/uploader-man.js"></scripts>
<script>
    function showMenu(id) {
        var sel = ui.select("Tùy chọn");
        sel.proc = function (val) {
            if (window[val + "book"]) {
                window[val + "book"](id);
            }
            sel.hide();
        }
        sel.option("edit", "Sửa thông tin");
        sel.option("export", "Xuất bản");
        sel.option("listchap", "Danh sách chương");
        //sel.option("download","Tải xuống");
        sel.option("delete", "Xóa truyện");
        sel.show();
    }
    function editbook(id) {
        location.href = "/Author/EditBook/" + id;
    }
    function exportbook(id) {
        ajax("minrt=langer&ajax=extractbook&isexport=true&bid=" + id, function (down) {
            if (down) {
                alert(down);
            } else {
                alert("Xuất bản thành công.");
            }
        });
    }
    function downloadbook(id) {

    }
    function deletebook(id) {
        if (confirm("Xóa truyện này? Thao tác này rất nguy hiểm? Truyện đã xuất bản sẽ không bị xóa? Hệ thống sẽ gỡ tài khoản của bạn khỏi truyện và vẫn giữ dữ liệu, bạn có thể yêu cầu lấy lại bất cứ lúc nào.")) {
            ajax("minrt=writer&ajax=unownbook&bid=" + id, function () {
                location.reload();
            });
        }
    }
</script>

<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>


