
@using STV.Models
@using PagedList.Mvc
@model PagedList.PagedList<STV.Models.Story>
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/LoginLogout.cshtml";
}
    <div class="container shadow p-2 bg-light">
        <div class="breadcum p-1">
            <a href="@Url.Action("list","Author",new { MemberID = Session["MemberID"] })">Danh sách truyện</a>
        </div>
        <div class="menu bg-light p-1">
            <button class="btn btn-primary" style="float: right;" onclick="location.href='/Author/addBook/'">Thêm Truyện</button>
            <div style="clear: both;"></div>
        </div>
        <div class="main">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Thể Loại</th>
                        <th scope="col">Số chương</th>
                        <th hidden="" scope="col">Vip</th>
                        <th hidden="" scope="col">Đã bán</th>
                        <th scope="col">Thao tác</th>
                        <th scope="col">Xét Duyệt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sach in Model)
                    {

                        <tr>
                            <td>@sach.Title</td>
                            <td>@sach.category.CatName</td>
                            <td>@sach.N_O_Chapter</td>
                            <td hidden="">@sach.Vip</td>
                            <td hidden="">@sach.View</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Truyen", "Story", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-eye"></i></button>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("listChap", "Author", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-list"></i></button>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EditBook", "Author", new { StoryID = sach.StoryID})'"><i class="fa-solid fa-edit"></i></button>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("XoaS", "Author", new { StoryID = sach.StoryID, url = Request.Url.ToString()})'"><i class="fa-solid fa-delete-left"></i></button>
                            </td>
                            @if(sach.Status != 0 && sach.Status != 4)
                            {


                                        <td>Đã Duyệt</td>
                             }
                              @if(sach.Status == 0)
                                {
                                        <td>Đang Duyệt</td>
                                }
                              @if(sach.Status == 4)
                                {
                                            <td><a href="@Url.Action("XinDuyet", "Author", new { StoryID = sach.StoryID, url = Request.Url.ToString()})">Không Qua Duyệt</a></td>
                                }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <div style="width:100%;text-align:center;">
                <nav style="display:inline-block;">
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("list", "Author", new
{
    MemberID =
ViewBag.AuthorID,
    page = page
}))
                    </ul>
                </nav>
            </div>
        </div>
    </div>
