@model STV.Models.Chapter
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="inner">
    <style type="text/css">
        .contentbox img {
            display: block;
            margin: 4, auto;
            max-width: 100%;
        }
    </style>
    <div class="container bg-light tm-reader-top-br" id="breadcum" style="font-size: 14px;color: gray;padding: 6px 16px;">
        @Model.Story.Title/Chương :@Model.Chapter_Number @Model.Title
    </div>
    <br class="tm-reader-top-br">
    <a href="/truyen/faloo/1/1360742/" id="booknameholder" style="font-size: 24px;font-weight: 700;color: gray;display: block;text-align: center;"> @Model.Story.Title </a>
    <center id="bookchapnameholder" style="color: gray">
        @Model.Title
    </center>
    <br>
    <div class="tm-reader-top-nav" style="background: #eeeeee;font-size: 16px;padding: 6px 0;font-weight: 500">
        <div class="container" style="text-align: center;">
            <a onclick="blinkloadnextchap(true)" id="navprevtop" href="/truyen/faloo/1/1360742/0/" style="display: inline-block;float: left;"><i class="fas fa-chevron-left"></i> Chương trước</a>
            <a id="navcentertop" href="/truyen/faloo/1/1360742/"> Mục lục </a>
            <a onclick="blinkloadnextchap()" id="navnexttop" href="/truyen/faloo/1/1360742/2/" style="display: inline-block;float: right;">Chương sau <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div id="content-container" class="container" style="min-height: 300px; padding: 0px; background-color:@(Session["Nen"] ?? "white");">
        <div class="contentbox" style="display:flex; justify-content:center; align-items:center; font-family: @(Session["Font"] ?? "stvarial") ; padding: 24px; font-size: 18px;" id="cld-1360742-1" cid="1" user="250">
            <span id="text-content" style="color:@(Session["Mau"] ?? "black");font-size:@(Session["Size"]+"px" ?? "20px"); line-height:@(Session["Line"]+"px" ?? "1.2px")">
                @if (ViewBag.Duyet == true)
                {
                    <h1>Đây là chương vip mời vui lòng mua để được xem nội dung truyện</h1>
                    <button name="mua" id="mua" onclick="muachuong()">Mua</button>
                }
                else
                {
                    @Model.Content
                }
            </span>
        </div>
    </div>
    <div class="tm-reader-top-nav" style="background: #eeeeee;font-size: 16px;padding: 6px 0;font-weight: 500">
        <div class="container flex">
            <a onclick="blinkloadnextchap(true)" id="navprevbot" href="/truyen/faloo/1/1360742/0/" style="flex:1;padding: 10px 0"><i class="fas fa-chevron-left"></i> Chương trước</a>
            <a id="navcenterbot" href="/truyen/faloo/1/1360742/" style="padding: 10px 8px;"> Mục lục </a>
            <a onclick="blinkloadnextchap()" id="navnextbot" href="/truyen/faloo/1/1360742/2/" style="flex:1;text-align: right;padding: 10px 0">Chương sau <i class="fas fa-chevron-right"></i></a>
        </div>
    </div><br>
    <div class="row" id="commentportion" onkeydown="event.stopPropagation();" style="background-color:white;overflow:hidden;padding:14px;font-size:24px;min-height:360px;color:black">

        <div class="w-100">
            BÌNH LUẬN

            <span id="livecomment" style="float:right;padding:0 0 0 20px;" onclick="followPush();"><i class="fas fa-rss"></i></span>

            <span id="hideavatar" style="float: right; padding: 0px 20px; filter: none;" onclick="togglehideavatar(true);"><i class="fas fa-images"></i></span>
        </div>

        <br><hr style="margin:0px 0 4px 0;border-top:2px solid #eee">

        <div class="container">
            <div class="row">
                <form class="form-inline w-100 m-0">
                    <div class="input-group w-100">
                        <textarea onfocus="followPush();" class="form-control" id="cmtx" style="font-size:14px" placeholder="Nhập bình luận. Cảnh báo: nghiêm cấm vô não chửi bậy, chửi liên quan đến thể loại truyện, mô típ của truyện, bối cảnh của truyện. Nghiêm cấm bình luận chống lại nhà nước, danh nhân lịch sử, người vi phạm sẽ bị khóa tài khoản tùy mức độ."></textarea>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info" style="max-height:60px;font-size:16px;" onclick="sendcmt()">Gửi</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div id="replycmtwd" style="display:none">
            <input id="replycmt"><button type="button" style="height:30px" onclick="sendreply()">Gửi</button>
        </div>
        <div id="cmtwd" style="font-size:16px;line-height:1.2;width:100%;margin-top: 16px;" data-start="0">
            <center><button class="btn btn-secondary w-100" type="button" onclick="loadCmt()">Xem bình luận</button></center>
        </div>
        <style type="text/css">
            #commentportion .sec-top {
                max-height: 250px;
                overflow: hidden;
            }
        </style>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function muachuong() {
         $.ajax({
                type: "POST", // Hoặc "GET" tùy theo action của bạn
             url: "@Url.Action("Muachuong", "Story", new { chapterid = Model.ChapterID })",
             success: function () {
                 // Xử lý kết quả trả về (nếu cần)
                 
             }, success: function (data) {
                 // Xử lý dữ liệu trả về khi action được gọi thành công
                 if (data == "true") {
                     alert("Mua Thành Công");
                     location.reload(true);
                 } else {
                     return "Không thành công vui lòng kiểm tra tài khoảng và thử lại"
                     ocation.reload(true);
                 }
             },
    });
    }
   

</script>