@model IEnumerable<STV.Models.Chapter>
@foreach( var item in Model)
  {
           <div class="col-md-4">
                 
                <a onclick="setLinkToCurrentURL(@item.ChapterID)" class="listchapitem" id ="listchapitem" title="@item.Title" href='@Request.Url.ToString()/@item.ChapterID' rel="nofollow">Chương @item.Chapter_Number : @item.Title</a></div>  
  }
