@if (Session["TaiKhoan"] == null) //Giao diện Login
{


    <div id="tm-nav-search-top-right" style="float: right;">
  
        <a href="@Url.Action("Login","Member", new { url = Request.Url.AbsolutePath.ToString()})">Đăng nhập </a>
    </div>


}
else
{
<<<<<<< Updated upstream
    <div id="tm-nav-search-top-right" style="float: right;">
        <button type="button" class="btn" id="notifmarker" onclick="notification()" havenotif="2">
            <i class="fa-solid fa-exclamation"></i>
        </button>
        <img id="tm-user-avatar" src="https://staticvn.sangtacvietcdn.xyz/img/useravatar/user250.jpeg?t=1630150096" onclick="usermenu()">
        <span id="usermenupos" style="position: relative;height: 30px;display: inline-block;">
            <div id="menunavigator2" style="display:none;">
                <ul style="list-style-type: none;padding: 6px;white-space: nowrap;display: block;">
                    <li style="margin: 8px;text-align: center;padding: 6px;">¯\_ಠ_ಠ_/¯</li>
                    <hr>
                    <li><a onclick="ui.swiftload(this)" href="@Url.Action("Information","Member",new { MemberID = Session["MemberID"] })">Thông tin cá nhân</a></li>
                    <li><a onclick="ui.swiftload(this)" href="@Url.Action("HisBuy","Member",new { MemberID = Session["MemberID"] })">Lịch Sử Giao Dịch</a></li>
                    <li><a onclick="ui.swiftload(this)" href="/setting/">Cài đặt</a></li>
                    <li><a onclick="logout();">Đăng xuất</a></li>
                    <hr hidden="">
                    <li><a href="/donate/" style="color: #DD0000">Donate</a></li>
                    <hr>
                    <li><a onclick="ui.swiftload(this,'inner')" href="/readed/">Truyện đã đọc</a></li>
                    <li><a onclick="ui.swiftload(this,'inner')" href="@Url.Action("Follow","Member",new { id = Session["MemberID"] })">Truyện theo dõi</a></li>
                    <hr>
                    <li><a href="@Url.Action("list","Author",new { MemberID = Session["MemberID"] })" style="color: #DD0000">Đăng truyện</a></li>
                    <li><a href="/writer.php">Khu tác giả</a></li>
                    <li><a href="/langer.php">[PC-Only]Khu dịch giả</a></li>
=======
    var a = (STV.Models.Member)Session["TaiKhoan"];
<div id="tm-nav-search-top-right" style="float: right;">
    <button type="button" class="btn" id="notifmarker" onclick="fl()" havenotif="@Session["SLF"]">
        <i class="fa-solid fa-exclamation"></i>
    </button>
    <div id="fl" style="display:none;">
        @Html.Action("FollowTr", "Home", new { id = Convert.ToInt32(Session["MemberID"]) })
    </div>
    <img id="tm-user-avatar" src="~/Image/@Session["Avata"]" onclick="usermenu()">
    <span id="usermenupos" style="position: relative;height: 30px;display: inline-block;">
        <div id="menunavigator2" style="display:none;">
            <ul style="list-style-type: none;padding: 6px;white-space: nowrap;display: block;">
                <li style="margin: 8px;text-align: center;padding: 6px;">@a.UserName</li>
                <hr>
                <li><a onclick="ui.swiftload(this)" href="@Url.Action("Information","Member",new { MemberID = Session["MemberID"] })">Thông tin cá nhân</a></li>
                <li><a onclick="ui.swiftload(this)" href="@Url.Action("HisBuy","Member",new { MemberID = Session["MemberID"] })">Lịch Sử Giao Dịch</a></li>
                <li><a href="@Url.Action("DangXuat","Member", new { url = Request.Url.ToString() })">Đăng xuất</a></li>
                <hr hidden="">
                <li><a href="/donate/" style="color: #DD0000">Donate</a></li>
                <hr>
                <li><a onclick="ui.swiftload(this,'inner')" href="@Url.Action("Follow","Member",new { id = Session["MemberID"] })">Truyện theo dõi</a></li>
                <hr>
                <li><a href="@Url.Action("list","Author",new { MemberID = Session["MemberID"] })" style="color: #DD0000">Đăng truyện</a></li>
>>>>>>> Stashed changes

            </ul>
        </div>
     
        <script type="text/javascript">
            function closeusermenu() {
                document.getElementById("menunavigator2").style.display = "none";
                ismenu2show = false;
            }
            var ismenu2show = false;
            function usermenu() {
                if (ismenu2show) {
                    document.getElementById("menunavigator2").style.display = "none";
                    ismenu2show = false;
                } else {
                    document.getElementById("menunavigator2").style.display = "block";
                    ismenu2show = true;
                }
            }
            var foll = false;
            function fl() {
                if (foll) {
                    document.getElementById("fl").style.display = "none"
                    foll = false;
                    
                } else {
                    document.getElementById("fl").style.display = "block";
                    
                    foll = true;
                }
            }

        </script>
    </span>
</div>
}
